<div class="container-wrap">
  <a [routerLink]="'/preorder/' + data.name">← Configura otro auto</a>
  <app-order-header></app-order-header>
  <div class="container-two">
    <mat-button-toggle-group
      class="grid"
      appearance="legacy"
      name="fontStyle"
      aria-label="Font Style"
    >
      <mat-button-toggle value="bold">Exterior</mat-button-toggle>
      <mat-button-toggle value="italic">Interior</mat-button-toggle>
      <mat-button-toggle value="underline">Resumen</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="choose-color">
      <div class="choose-color__wrap">
        <div>
          Elige el color de Yaris Sedán que combine con tu personalidad
        </div>
        <mat-button-toggle-group
          class="colors"
          name="fontStyle"
          aria-label="Font Style"
        >
          <mat-button-toggle value="bold">Rojo</mat-button-toggle>
          <mat-button-toggle value="italic">Azul</mat-button-toggle>
          <mat-button-toggle value="underline">Plata</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="vehicle-img">
      <img
        src="https://www.toyota.mx/sites/default/files/YS_CVT_GrisMetalico_03_0.png"
        alt="vehicle"
      />
    </div>
  </div>
</div>
