<div class="container-one">
  <div>
    <h1>{{ data.name }}</h1>
    MT 1.5 L, 4 cilindros, 16 válvulas. Transmisión manual de 5 velocidades.
  </div>
  <div>
    <div class="vehicle-img">
      <img
        src="https://www.toyota.mx/sites/default/files/YS_CVT_GrisMetalico_03_0.png"
        alt="vehicle"
      />
    </div>
  </div>
  <div>
    Precio Total
    <a>Siguente</a>
  </div>
</div>
<div class="container-two">
  <div class="grid">
    <div class="">
      Exterior
    </div>
    <div class="">
      Interior
    </div>
    <div class="">
      Resumen
    </div>
  </div>
  Elige el color de Yaris Sedán que combine con tu personalidad AQui pon tres
  colores Blanco
  <div class="vehicle-img">
    <img
      src="https://www.toyota.mx/sites/default/files/YS_CVT_GrisMetalico_03_0.png"
      alt="vehicle"
    />
  </div>
</div>
