.back-link
  color: #c03;
  text-decoration: none;
  font-weight: bold;

.pre-order-header
  text-align: center;

.vehicle-models
  display: grid;
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 20px
