.swiper-container
  margin-bottom: 3em;
.slide-container
  display: flex;
  align-items: center;
  position: relative;
.swiper-button-prev,
.swiper-button-next
  color: white
.slide__img
  position: absolute;
  top: 0
  bottom: 0
  left: 0
  right: 0
.slide-title
  width: 50%
  position: absolute;
  top: 200px;
  h1
    font-size: 6vw;
    line-height: 1em
    color: white
    text-shadow: 1px 1px 1px #616161;
.pulga
  background-color: red
  height: 100%
