<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img
        src="https://www.toyota.mx/sites/default/files/slider/home_slide_desktop.jpg"
        alt=""
      />
    </div>
    <div class="swiper-slide">
      <img
        src="https://www.toyota.mx/sites/default/files/slider/highlander_desk.jpg"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="https://www.toyota.mx/sites/default/files/slider/highlander-ss-desk_0.jpg"
      />
    </div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
