<h1 mat-dialog-title>Solicita una cotizacon</h1>
<div>
  <div>
    <h2>{{ data.name }} <span>Spark</span></h2>
    MT 1.5 L, 4 cilindros, 16 válvulas. Transmisión manual de 5 velocidades.
    <div class="">
      Este modelo es un prototipo. El modelo de producción puede variar.
    </div>
  </div>
  <div>
    <div class="vehicle-img">
      <img
        [src]="'https://www.toyota.mx/sites/default/files/' + data.imgSrc"
        alt="vehicle"
      />
    </div>
  </div>
  <div class="total-price">
    Precio Total
    <div>$235,300 M.N.</div>
    <a>Ver Detalle</a>
  </div>
</div>
<div mat-dialog-content>
  <p>Información personal</p>
  <mat-form-field>
    <mat-label>Ingresa tu nombre</mat-label>
    <!-- <input matInput /> -->
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
  <button mat-button cdkFocusInitial>
    Envia
  </button>
</div>
