<h1 mat-dialog-title>Solicita una cotizacon</h1>
<div class="container-one">
  <div>
    <h1>Toyota <span>Spark</span></h1>
    MT 1.5 L, 4 cilindros, 16 válvulas. Transmisión manual de 5 velocidades.
    <div class="">
      Este modelo es un prototipo. El modelo de producción puede variar.
    </div>
  </div>
  <div>
    <div class="vehicle-img">
      <img
        src="https://www.toyota.mx/sites/default/files/YS_CVT_GrisMetalico_03_0.png"
        alt="vehicle"
      />
    </div>
  </div>
  <div class="total-price">
    Precio Total
    <div>$235,300 M.N.</div>
    <a mat-raised-button>Comprar</a>
    <a mat-raised-button>Ver Detalle</a>
  </div>
</div>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>

    <input matInput />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button cdkFocusInitial>
    Ok
  </button>
</div>
