<mat-card class="vehicle-card">
  <img
    mat-card-image
    [src]="'https://www.toyota.mx/sites/default/files/vehiculos/' + data.imgSrc"
    alt="Photo"
  />
  <mat-card-content>
    <div class="vehicle-card__title">
      {{ data.name }} <span>{{ data.model }} </span>
    </div>
    <div class="vehicle-card__price">
      Desde <span>${{ data.price }} M.N.</span>
    </div>
    <div class="vehicle-card__description">
      Transmisión manual. 5 velocidades. Tracción en llantas delanteras.
      {{ data.description }}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button [routerLink]="'/order/' + data.id">Comprar Ahora</a>
  </mat-card-actions>
</mat-card>
