<footer>
  <div class="container-wrap">
    <div class="footer">
      <div class="footer__item">
        <div class="">
          <div>
            <img
              src="https://www.toyota.mx/sites/all/themes/toyotatheme/css/img/logo_toyota_footer.svg"
              alt="LOGO"
            />
          </div>
          © Toyota México 2020.
        </div>
      </div>
      <div class="footer__item">
        ¿Necesitas ayuda?
      </div>
      <div class="footer__item">
        <img
          src="https://www.toyota.mx/sites/all/themes/toyotatheme/images/America_01.png"
          alt=""
        />
      </div>
      <div class="footer__item">
        Terminos y Condiciones
      </div>
    </div>
  </div>
</footer>
