footer
  background-color: #263238
  color: white;
  min-height: 100px;
.footer
  display: grid;
  grid-template-columns: 1fr
  @media (min-width: 1000px)
    grid-template-columns: 1fr 1fr 1fr 2fr
  div
    justify-content: center;
    &:last-child
      @media (min-width: 1000px)
        justify-content: flex-end;
  &__item
    display: flex;
    align-items: center;

.number
  width: 80px;
  height: 50px;
